/* Reset and Base Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #7e7e7e;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

header {
    background: linear-gradient(#000000, #068a6b);
    color: #ffffff;
    padding: 1.5em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: slide-down 0.5s ease-out;
    position: relative; /* Position relative for toggle switch */
}

header h1 {
    font-size: 3.5em; 
    line-height: 1.5; 
    margin: 0; 
}

.toggle {
    position: fixed; /* Fix the position to the viewport */
    bottom: 20px; /* Adjust as needed for spacing from the bottom */
    right: 20px; /* Position to the right side */
    z-index: 1000; /* Ensure it appears above other content */
}

.toggle-switch {
    position: absolute;
    top: 20px; /* Adjust based on header height */
    right: 20px; /* Adjust for spacing from right */
    display: flex;
    align-items: center;
}

.toggle-switch input {
    display: none; /* Hide the default checkbox */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.view-section {
    background-color: rgba(35, 35, 35, 0.95);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px;
    animation: fade-in 0.5s ease-in-out;
}

h2 {
    color: #ffffff;
    margin-top: 0;
}

h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #e0e0e0;
    position: relative;
}

/* Hamburger Menu */
.hamburger-menu {
    display: block; /* Show the hamburger menu on all screen sizes */
    position: fixed; /* Make the position fixed */
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensure it stays above other content */
}

#hamburger-toggle {
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.mobile-menu {
    display: none;
    position: fixed; /* Keep the mobile menu position fixed as well */
    top: 50px; /* Slightly below the hamburger icon */
    right: 10px;
    background-color: #333;
    flex-direction: column;
    z-index: 999; /* Ensure it's on top */
    width: 200px;
}

.mobile-menu a {
    padding: 10px;
    background: #333;
    color: white;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #444;
}
.mobile-menu a:hover {
    background: #555;
}

.mobile-menu.active {
    display: flex; /* Show menu when active */
}

.social-media {
    margin-top: 10px; /* Spacing above social media links */
    padding: 10px;
    text-align: center; /* Center the text */
}

.social-media a {
    display: block; /* Display each link on a new line */
    color: white;
    text-decoration: none;
    margin: 5px 0; /* Spacing between links */
    font-weight: 700;
}

.social-media a:hover {
    text-decoration: underline; /* Underline on hover */
}

@media (max-width: 768px) {
    /*.mobile-menu {
        display: flex; /* Show mobile menu on smaller screens
    }*/
}

/* Notification Area */
.notification-area {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #f0ad4e;
    color: white;
    padding: 10px;
    display: none;
}

/* Carousel */
.content-slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 90%;
    margin: 20px auto;
}

.slider {
    display: flex;
    gap: 20px;
}

.slider img {
    max-width: 100%;
    border-radius: 10px;
}

/* Toggle Button Styles */
.toggle button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #b48409;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle button:hover {
    background-color: #068a6b;
}

/* Dark Mode */
/*body.dark-mode {
    background-color: #ffffff;
    color: #000000;
}
@media (max-width: 768px) {
    .view-section {
        flex-direction: column;
    }
}*/

/* Lightbox Styles */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #c9901e;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 700;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.btn:hover {
    background-color: #068a6b;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.btn2 {
    display: inline-block;
    padding: 12px 25px;
    background-color: #c9901e;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 700;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.btn2:hover {
    background-color: #068a6b;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/* Animations */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Light Mode Styles */
/*body.light-mode {
    background-color: #ffffff;
    color: #333;
}

header.light-mode {
    background: linear-gradient(#ffffff, #c4e3e4);
}

.view-section.light-mode {
    background-color: rgba(255, 255, 255, 0.95);
}
*/
footer {
    position: fixed; /* Fix the position to the viewport */
    bottom: 20px; /* Adjust as needed for spacing from the bottom */
    left: 20px; /* Position to the left side */
    z-index: 1000; /* Ensure it appears above other content */
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: block;
    z-index: -1;
}
